<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<form class="formwidth">

  <mat-form-field class="fullwidth">
    <input matInput placeholder="First Name" value="">
  </mat-form-field>

  <mat-form-field class="fullwidth">
    <input matInput placeholder="Last Name" value="">
  </mat-form-field>

  

  <mat-form-field class="fullwidth">
      <input matInput #message maxlength="256" placeholder="Message">
      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>

  <p>
      <button type="submit" mat-raised-button color="primary">Submit</button>
  </p>
    

  
</form>